build/
*_dicts/
*.userdb/
opencc/*
sync/

# Rime
installation.yaml
user.yaml
*.schema.yaml
*.dict.yaml

# ℞ prelude https://github.com/rime/rime-prelude
default.yaml
key_bindings.yaml
punctuation.yaml
symbols.yaml

# Others
/pinyin.yaml
/emoji_suggestion.yaml
!pinyin_simp.dict.yaml
!english*.yaml
!emoji_custom.json
!emoji_category_v.txt

